.profile__image {
  background-image: url('../../../images/avatar.jpg');
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile__image-container {
  block-size: 120px;
  cursor: pointer;
  inline-size: 120px;
  margin: 0 29px 0 0;
  position: relative;
}

.profile__image-overlay {
  background-color: rgba(0, 0, 0, .8);
  background-image: url(/src/images/edit-icon.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 26px;
  block-size: 120px;
  font-family: inherit;
  inline-size: 120px;
  opacity: 0;
  position: absolute;
  transition: visibility .4s, opacity .4s;
  visibility: hidden;
}

.profile__image-container:hover .profile__image-overlay {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
